body {
  margin: 0;
  padding: 0;
  background-color: #007bff; /* Azul brillante */
  color: white; /* Texto en blanco para mejor contraste */
  font-family: Arial, sans-serif;
}

#root {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

